* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    
}

.HEADER{
    background-color: grey;
    text-align: center;
    background-image: url(imagem.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 10px black;
    margin-bottom: 5px;
    
}

.container{
    display: flex;
}

.navbar{
    width: 20%;
    padding: 30px 30px;
}

.lista{
    list-style: none;
}

.lista li a {
    display: block;
    background-image: url(imagem.jpg);
    text-decoration: none;
    color: white;
    padding: 10px 10px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 5px rgb(52, 59, 255);
    border-radius: 5px 10px;
    text-align: center;

}

.content{
    width: 80%;
    background: #d8d8d857;
    padding: 40px;
    padding-bottom: 90px;
    border-radius: 20px 0 0 0;
    margin: 20px 10px 0 0;
    box-shadow: 0px 0px 2px black;
}

p{
    margin: 25px 0 ;
}

.footer{
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 15px 0;
    background: #d8d8d857;
    width: 100%;
}

.foto{
    width: 200px;
    padding: 5px 40px;
    padding-bottom: 0px;
}

.quem{
    width: 400px;
}

.nome-empresa{
    padding-bottom: 15px;
    color: rgb(255, 255, 255);
    
}


